<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addjobs</title>
</head>

<body>
    <%- include("./header.ejs") %>

    <h1>Add Jobs</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <%- include("./left.ejs") %>
                </div>
                <div class="container-fluid">
                    <form method="post" action="/Addjobs" enctype="multipart/form-data">
                        <div class="mb-3 mt-3">
                            <label for="text" class="form-label">Job location:</label>
                            <input type="text" class="form-control"  placeholder="Enter location here"
                                name="location">
                        </div>


                        <div class="mb-3 mt-3">
                            <label for="text" class="form-label">Post:</label>
                            <input type="text" class="form-control" placeholder="Enter post here"
                                name="post">
                        </div>


                        <div class="mb-3 mt-3">
                            <label for="text" class="form-label">Enter job details:</label>
                            <input type="text" class="form-control"  placeholder="Enter details here"
                                name="details">
                        </div>



                        <div class="mb-3">
                            <label for="text" class="form-label"></label>
                            <h5>Enter Quelification:</h5>
                            <input type="text" class="form-control"  placeholder="Enter qulification"
                                name="quelification">
                        </div>


                        <div class="mb-3">
                            <label class="mt-3" for="Choose File">
                                <h5>Attache File*:</h5>
                            </label><input class="form-control" type="file" name="products">
                        </div>



                        <div class="mb-3">
                            <label class="mt-3">
                                <h5>Description*:</h5>
                            </label><input class="form-control" type="text" name="description">
                        </div>


                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"> Remember me
                            </label>
                        </div>

                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
        
        
            </div>
        </div>



        

</body>

</html>