<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

<body>

    <%- include("./common/header.ejs") %>


        <!-- about website text -->
        <div class="container-fluid">
            <div class="row text-center mt-3">
                <h1 class="bg-dark" id="about">About FINDJOBS.COM</h1>
            </div>
        </div>
        <!-- about website text -->



        <!-- 1st img about page -->
        <div class="container-fluid mb-5 mt-3">
            <div class="row">
                <img src="/images/career-desktop.jpg">
            </div>
        </div>
        <!-- 1st img about page -->



        <!-- OUR total work -->
        <div class="container-fluid text-center">
            <h1>YOU GET 100% JOBS IF YOU ARE CHALLANGER</h1>
            <div class="row text-center">
        
                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                    <div class="card">
                        <h1 id="placements">Total placements</h1>
                        <div class="card-body">
                            <h4 id="numcolor">2,25,000 + in India</h4>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                    <div class="card">
                        <h1 id="placements">App Downloads</h1>
                        <div class="card-body">
                            <h4 id="numcolor">5,25,000 +</h4>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                    <div class="card">
                        <h1 id="placements">Cities</h1>
                        <div class="card-body">
                            <h4 id="numcolor">500+</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 siximg img">
                    <div class="card">
                        <h1 id="placements">Interviews</h1>
                        <div class="card-body">
                            <h4 id="numcolor">2,70,000 +</h4>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <!-- our total work -->




        <!--our trusted commpanies -->
        <div class="container-fluid text-center">
            <h1 id="commpanies">OUR 30+ TRUSTED COMMPANIES </h1>
            <div class="row text-center">
             
                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                    <div class="card">
                        <img src="/images/canon.jpg" style="height:60px;">

                        <div class="card-body">
                            <h4>Total 25,000+ placements</h4><br>
            <a class="btn btn-primary" href="https://in.canon/en/consumer/web/company-about" role="button">View Company</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                    <div class="card">
                        <img src="/images/coca-cola.jpg" style="height:80px;">

                        <div class="card-body">
                            <h4>Total 22,000+ placements</h4>
                            <a class="btn btn-primary" href="https://www.coca-cola.com/in/en" role="button">View Company</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                    <div class="card">
                        <img src="/images/deloitte.webp" style="height:80px;">

                        <div class="card-body">
                            <h4>Total 24,000+ placements</h4>
                            <a class="btn btn-primary" href="https://www2.deloitte.com/us/en.html" role="button">View Company</a>
                        </div>
                    </div>
                </div>



                <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                    <div class="card">
                        <img src="/images/genpact.webp" style="height:80px;">

                        <div class="card-body">
                            <h4>Total 32,000+ placements</h4>
                            <a class="btn btn-primary" href="https://www.genpact.com/" role="button">View Company</a>
                        </div>
                    </div>
                </div>



                <!--our trusted commpanies -->



                <!-- 2nd image row our trusted companies -->
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                            <div class="card">
                                <img src="/images/google.jpg" style="height:100px;">

                                <div class="card-body">
                                    <h4>Total 19,000 +  placements</h4>
                                    <a class="btn btn-primary" href="https://www.google.com/intl/en_in/business/" role="button">View Company</a>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                            <div class="card">
                                <img src="/images/ibmcompany.webp" style="height:100px;">

                                <div class="card-body">
                                    <h4>Total 18,000 +  placements</h4>
                                    <a class="btn btn-primary" href="https://www.ibm.com/in-en" role="button">View Company</a>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                            <div class="card">
                                <img src="/images/policybazaar.webp" style="height:100px;">

                                <div class="card-body">
                                    <h4>Total 26,000+ placements</h4>
                                    <a class="btn btn-primary" href="https://www.policybazaar.com/?pb_source=google
                                    _brand&pb_medium=ppc&pb_term=Policybazaar&pb_campaign=PolicyBazaar00PolicyBazaar&gad=
                                    1&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i4yM4DVGaJ06e44FidYeDz7u-Kzxd8ujrsHOLTDTZy9w_nRS7yssRkaAj_tEALw_wcB"
                                     role="button">View Company</a>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-3 col-sm-3 mt-3 mb-5 siximg img">
                            <div class="card">
                                <img src="/images/microsoft.jpg" style="height:100px;">

                                <div class="card-body">
                                    <h4>Total 30,000+ placements</h4>
                                    <a class="btn btn-primary" href="https://www.microsoft.com/en-in" role="button">View Company</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 2nd image row our trusted companies -->


                <%- include("./common/footer.ejs") %>

</body>

</html>