<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobs</title>

</head>

<body>
    <%- include("./common/header.ejs") %>



        <!-- search job search bar -->
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 mt-5">
                    <a href="http://localhost:2003/applynow"> <h6>Post your resume</h6></a>
                    <p>-It take only Few Seconds</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 mb-5 mt-3">
                    <form class="d-flex " role="search">
                        <a class="btn btn-outline-primary me-2" href="#" type="search" style="width:13%;">Search</a>
                        <input class="form-control me-2" type="search" placeholder="Search jobs here"
                            aria-label="Search">
                    </form>
                    <!-- <form class="d-flex" role="search">
                        <a class="btn btn-outline-primary" href="#" type="search" style="width:19%;">Where</a>
                        <input class="form-control me-2" type="search" placeholder="Search location here"
                            aria-label="Search"> -->
                    </form>
                </div>

            </div>
        </div>
        <!-- search job search bar end -->





        <!-- job in gujjrat carrier ac company details -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">


                    <div class="card">
                        <h4>Carrier Air Conditioner</h4>
                        <div class="card-header">
                            <img src="/icons/address.png" style="width:4%;">
                            <h5>Gujjrat job</h5>
                            <p>Varun Air Conditioning Works Vapi, Gujarat</p>
                        </div>


                        <div class="card-body">
                            <b><img src="/icons/salary.png"style="width:4%;">₹-4,500-15,000/- Per month</b>
                            <b><img src="/icons/jobtime.png"style="width:4%;">timening-Full Time</b>
                        </div>


                        <div class="card-footer">
                         <b><img src="/icons/send.png"style="width:4%;">Easy to apply</b>
                         <b><img src="/icons/multiplec.png"style="width:4%;">Hiring Multiple Candidates</b>
                         <ul><h3>Job Details</h3>
                            <li>Assist in installation ,repair,and Maintainace of Ac system.</li>
                            <li>Learn to diagnose and troubleshoot Ac issues.</li>
                            <li>Assist in conduccting preventive maintainance checks.</li>
                            <li>Follow safety Protocols and guidelins..</li></ul>
                            <p>Active 3 days ago</p>
                            <a class="btn btn-outline-primary"href="http://localhost:2003/applynow">Apply Now</a>
                            
                            <h5>Eligibility</h5>
                            <p><b>Total</b>-1 year Work Experience(Preferd)</p>
                            <p>We are a well-established AC business in Vapi, seeking motivated individuals to join our team as AC Technicians. If you have a passion for AC technology and are willing to learn, we are ready to provide on-the-job training to help you gain experience in the field.

                                Responsibilities:
                                
                                Assist in installation, repair, and maintenance of AC systems.
                                Learn to diagnose and troubleshoot AC issues.
                                Assist in conducting preventive maintenance checks.
                                Follow safety protocols and guidelines.
                                Learn to use tools and equipment related to AC systems.
                                Requirements: 
                                Job Types: फ़ुल-टाइम, पार्ट-टाइम, नियमित / स्थायी, फ्रेशर, कॉन्ट्रेक्ट के मुताबिक / थोड़े समय का
                                Contract length: 12 months
                                Part-time hours: 48 per week...</p>

                        
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- job in gujjrat carrier company details -->
        

       <!-- job in cyber infotech hub  -->
        <div class="container mt-5">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        
                        <div class="card-header">
                            <img src="/icons/address.png" style="width:4%;">
                            <h5>Cyber hub Near Ambiance mall</h5>
                            <p>Info-Tech</p>
                        </div>


                        <div class="card-body">
                            <b><img src="/icons/salary.png"style="width:4%;">₹-20,500-25,000/- Per month</b>
                            <b><img src="/icons/jobtime.png"style="width:4%;">timening-Full Time</b>
                        </div>


                        <div class="card-footer">
                         <b><img src="/icons/send.png"style="width:4%;">Easy to apply</b>
                         <b><img src="/icons/multiplec.png"style="width:4%;">Hiring Multiple Candidates</b>
                         <ul>
                            <h3>Job Details</h3>
                            <li>Knowledge in BPO .</li>
                            <li>Good Commnucation Skill;.</li>
                            <li>Target Based.</li>
                            <li>Follow safety Protocols and guidelins..</li>
                        </ul>
                        <p>Active 12 days ago</p>
                            <a class="btn btn-outline-primary"href="http://localhost:2003/applynow">Apply Now</a>
                            <h5>Eligibility</h5>
                            <p>Experience/Freshers Can Also Apply</p>
                            <p>Graduate in Any Stream</p>
                            
                            

                        
                        </div>
                    </div>
                     

                </div>
            </div>
        </div>

<!-- infotech cyber hub gurugram -->




<!-- Field Service & Installation Engineer -->

<div class="container mt-5">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                
                <div class="card-header">
                    <img src="/icons/address.png" style="width:4%;">
                    <h5>Field Service & Installation Engineer</h5>
                    <p> Divide By Zero Technologies 3.9*<br>New Delhi, Delhi</p>
                </div>


                <div class="card-body">
                    <b><img src="/icons/salary.png"style="width:4%;">₹-20,500-35,000/- Per month</b>
                    <b><img src="/icons/jobtime.png"style="width:4%;">timening-Full Time+2</b>
                </div>


                <div class="card-footer">
                 <b><img src="/icons/send.png"style="width:4%;">Easy to apply</b>
                 <b><img src="/icons/multiplec.png"style="width:4%;">Hiring Multiple Candidates</b>
                 <ul>
                    <h3>Job Details</h3>
                    <li>Take updates from clients post resolution and close the call in CRM system.</li>
                    <li>Good Commnucation Skill;.</li>
                    <li>Diagnose & resolve technical hardware & software issues through telephonic support </li>
                    <li>Follow safety Protocols and guidelins..</li>
                    <li>visits to client sites within the…</li>
                </ul>
                    <p>Active 9 days ago</p>
                    <a class="btn btn-outline-primary"href="http://localhost:2003/applynow">Apply Now</a>
                    <h5>Eligibility</h5>
                    <p>Experience/Freshers Can Also Apply</p>
                    <p>Graduate in Any Stream</p>
                
                </div>
            </div>
             

        </div>
    </div>
</div>
<!-- Field Service & Installation Engineer -->


 


      <!-- big image jobs logos -->
      <div class="container">
        <div class="row mt-5">
            <center>
            <img src="/images/bigimg.jpg" style="width:50%;">
            </center>
        </div>
    </div>
    <!-- big image jobs logos -->









        <%- include("./common/footer.ejs") %>

</body>

</html>